anyio
beautifulsoup4
bs4
certifi
charset-normalizer
click
colorama
fastapi
h11
httptools
idna
pydantic
python-dotenv
PyYAML
requests
sniffio
soupsieve
starlette
typing-extensions
urllib3
uvicorn
watchfiles
websockets
lxml
gunicorn
pandas
selenium
tqdm
undetected_chromedriver
selenium
webdriver_manager
